/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: #546e7a !important}

.default_color_text{color: #546e7a !important}

.icon-block {
    padding: 0 15px;
}


.dropdown-content li>a, .dropdown-content li>span {
    color: #546e7a;
}

#intro, #essentialStats, #bigGraphs, #breakdowns, #rawStats {padding-top: 4rem;}

#intro, #bigGraphs, #rawStats {background: #F7F7F7;}

#essentialStats, #breakdowns {background-color: #eceff1;}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-image: url("../img/OptimizedNebula.png");
    background-color: #546e7a;
}

#index-banner-maint {
    min-height: 100%;
    position: relative;
    background-image: url("../img/OptimizedNebula.png");
    background-color: #546e7a;
}

.main-nav {
  z-index: 100;
}

.kill-card {
  text-align: center;
}

.kill-content {
    display: inline-block;
    margin: 0 0 10px 0;
    text-align: center;
    vertical-align: middle;
    width: 95%;
}

.kill-title {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  margin: 0 auto;
}

.kill-line {
  text-align: justify;
}

.kill-text {
    margin:10px;
    font-weight: 100;
    color: #F7F7F7;
    text-align: justify;
    float: left;
    text-overflow: ellipsis;
}

.kill-text:hover {
    color: #000;
}

.eveimage {
    background-color: #222;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 0.1px;
    vertical-align:middle;
    float: left;
    margin-left: 10px;
}

.img-rounded {
    border-radius: 6px;
    height: 40px;
    width: 40px;
}

.splash {
  height: 100%;
}

#modal1 {
  text-align: center;
  width: 90%;
  height: 200px;
  margin: auto;
}

#nav_f{
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow: none !important;
}

.totals {
  color: #78909c;
}

.totals-header {
  padding-right: 50px;
}

.monthLinks {
  font-weight: 100;
}
.period {
  font-weight: 100;
}
.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #546e7a;}

.text_b{color: #546e7a;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #546e7a;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #546e7a;}

.card-content a:hover {color: #546e7a;}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #546e7a;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type .is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav .button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

.page-footer {
    margin-top: 0;
}

.tooltip {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  border-radius: 3px;
  text-align: center;
  pointer-events: none;
  color: white;
  transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
  opacity: 0;
}

.updates {
  font-weight: 300;
  font-size: 1.5rem;
}

.logo-version {
  font-weight: 200;
  font-size: 1.4rem;
  color: #F2F2F2;
}

.big-chart-holder {
  height: 400px;
}

.breakdowns-holder {
  height: 1000px;
}

.small-chart-holder {
  height: 200px;
  width: 200px;
  max-height: 250px;
  max-width: 250px;
}

.periodLinks {
  display: inline-block;
  padding: 0 10px;
}

.periodLinks:hover {
  color: #F2F2F2;
  background-color: #546e7a;
}

.periodLinks-active {
  display: inline-block;
  color: #F2F2F2;
  background-color: #546e7a;
}

.tzLinks {
  display: inline-block;
  padding: 0 10px;
}

.tzLinks:hover {
  color: #F2F2F2;
  background-color: #546e7a;
}

.tzLinks-active {
  color: #F2F2F2;
  background-color: #546e7a;
}

.disabled {
  color: #bdbdbd;
  text-decoration: line-through;
}
