<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#F7F7F7">
    <title>{% block title %}{% endblock %}</title>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- CSS  -->
    <!--<link href="min/plugin-min.css" type="text/css" rel="stylesheet">-->
    <link href="../min/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="../css/dataTable.css" type="text/css" rel="stylesheet">

</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
 <div class="navbar-fixed main-nav">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">WH STATS <span class="logo-version">{% block version %}{% endblock %}</span></a>
                <ul class="right hide-on-med-and-down">
                  <li><a class="statsLink" href="../">Stats</a></li>
                  <li><a class="entitiesLink" href="../entities">Entities</a></li>
                  <li><a class="pilotsLink disabled" href="../pilots">Pilots</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                  <li><a class="statsLink" href="../">Stats</a></li>
                  <li><a class="entitiesLink" href="../entities">Entities</a></li>
                  <li><a class="pilotsLink disabled" href="../pilots">Pilots</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-fixed">
  <nav id="nav_f" class="blue-grey lighten-2" role="navigation">
    <div class="container center center-align">
      <div class="nav-wrapper center-align valign-wrapper">
        <ul class="center-align valign">
            <li><a href="#!" class="periodLinks periodLinks-hour">Hour</a></li>
            <li><a href="#!" class="periodLinks">Day</a></li>
            <li><a href="#!" class="periodLinks">Week</a></li>
            <li><a href="#!" class="periodLinks periodLinks-month breadcrumb">Month</a></li>
            <li class="hide-on-small-only"><a href="#!" class="period"></a></li>
            <li class="hide-on-small-only"><a href="#!" class="monthLinks prevMonth hide">&lt;&lt; Previous</a></li>
            <li class="hide-on-small-only"><a href="#!" class="monthLinks currMonth hide">Month</a></li>
            <li class="hide-on-small-only"><a href="#!" class="monthLinks nextMonth hide"></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="navbar-fixed hide-on-med-and-up">
  <nav id="nav_f" class="blue-grey lighten-2" role="navigation">
    <div class="container center center-align">
      <div class="nav-wrapper center-align valign-wrapper">
        <ul class="center-align valign">
            <li><a href="#!" class="period"></a></li>
            <li><a href="#!" class="monthLinks prevMonth hide">&lt;&lt;Previous</a></li>
            <li><a href="#!" class="monthLinks currMonth hide">Month</a></li>
            <li><a href="#!" class="monthLinks nextMonth hide"></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!--Hero-->
<div class="section" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>WH Stats 2.0 </span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">more accurate</b>
                <b>more kills</b>
                <b>more stats</b>
            </span>
        </h1>
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>
