<!DOCTYPE html>
<html class="splash">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>No Data!</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- CSS  -->
    <!--<link href="min/plugin-min.css" type="text/css" rel="stylesheet">-->
    <link href="/min/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="/css/style.css" type="text/css" rel="stylesheet">

</head>
<body class="splash">
  <div class="section no-pad-bot" id="index-banner-maint">
    <div class="container">
      <h1 class="text_h center header cd-headline">
        <span>No Data For {{ month }} / {{ year }}</span><br>
        <span>A Stats Generation Task Has Been Despatched!</span>
      </h1>
    </div>
  </div>
</body>
</html>
