<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="theme-color" content="#2196F3">
  <title>AU Stats</title>

  <!-- CSS  -->
  <link href="/min/plugin-min.css" type="text/css" rel="stylesheet">
  <link href="/min/custom-min.css" type="text/css" rel="stylesheet" >
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/topAU.js"></script>

</head>
<body id="top" class="scrollspy">

  <!-- Pre Loader -->
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>
  <!--Navigation-->
   <div class="navbar-fixed">
      <nav id="nav_f" class="default_color" role="navigation">
          <div class="container">
              <div class="nav-wrapper">
              <a href="./" id="logo-container" class="brand-logo">WH STATS <span class="logo-version">v1.6</span></a>
                  <ul class="right hide-on-med-and-down">
                      <li><a href="../top/eu">Top EU</a></li>
                      <li><a href="../top/us">Top US</a></li>
                      <li><a href="../top/au">Top AU</a></li>
                      <li><a href="../top/ru">Top RU</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                      <li><a href="../top/eu">Top EU</a></li>
                      <li><a href="../top/us">Top US</a></li>
                      <li><a href="../top/au">Top AU</a></li>
                      <li><a href="../top/ru">Top RU</a></li>
                  </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              </div>
          </div>
      </nav>
  </div>

  <!--Hero-->
  <!-- <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <h1 class="text_h center header cd-headline letters type">
              <span>Stats for</span>
              <span class="cd-words-wrapper waiting">
                  <b class="is-visible">dank kills</b>
                  <b>dem splosions</b>
                  <b>the Glory of Bob</b>
              </span>
          </h1>
      </div>
  </div> -->

  <!--Intro and service-->
  <div id="intro" class="section scrollspy">
      <div class="container">
          <div class="row">
              <div  class="col s12">
                  <div class="progress">
                      <div class="indeterminate"></div>
                  </div>
                  <h2 class="center header text_h2">AU Stats (0600-1200)<span class="span_h2"> updated every 10 minutes </span></h2>
              </div>
          </div>
          <div class="row">
              <div  class="col s12">
                <table id="auStats">
                  <thead>
                    <tr>
                      <th data-field="rank">Rank</th>
                      <th data-field="entityName">Entity</th>
                      <th data-field="entityType">Type</th>
                      <th data-field="whKills">WH Kills</th>
                      <th data-field="avgFleet">Avg Fleet Size</th>
                      <th data-field="lrgFleet">Largest Fleet Size</th>
                      <th data-field="lastKill">Last Kill</th>

                      <th data-field="c1Kills">C1 Kills</th>
                      <th data-field="c2Kills">C2 Kills</th>
                      <th data-field="c3Kills">C3 Kills</th>
                      <th data-field="c4Kills">C4 Kills</th>
                      <th data-field="c5Kills">C5 Kills</th>
                      <th data-field="c6Kills">C6 Kills</th>
                      <th data-field="c7Kills">Thera Kills</th>
                      <th data-field="c8Kills">Shattered Kills</th>
                      <th data-field="c9Kills">Frig Hole Kills</th>

                      <th data-field="t1Frig">T1 Frig Use</th>
                      <th data-field="facFrig">Faction Frig Use</th>
                      <th data-field="t2Frig">T2 Frig Use</th>
                      <th data-field="t1Des">T1 Dest Use</th>
                      <th data-field="t2Des">T2 Dest Use</th>
                      <th data-field="t3Des">T3 Dest Use</th>
                      <th data-field="t1Cru">T1 Cruiser Use</th>
                      <th data-field="facCru">Faction Cruiser Use</th>
                      <th data-field="t2Cru">T2 Cruiser Use</th>
                      <th data-field="t3Cru">T3 Cruiser Use</th>
                      <th data-field="t1BC">T1 BC Use</th>
                      <th data-field="facBC">Faction BC Use</th>
                      <th data-field="t2BC">T2 BC Use</th>
                      <th data-field="t1BS">T1 Battleship Use</th>
                      <th data-field="facBS">Faction Battleship Use</th>
                      <th data-field="t2BS">T2 Battleship Use</th>
                      <th data-field="carrierUse">Carrier Use</th>
                      <th data-field="archonUse">Archon Use</th>
                      <th data-field="nidUse">Nid Use</th>
                      <th data-field="chimeraUse">Chimera Use</th>
                      <th data-field="thanatosUse">Thanatos Use</th>
                      <th data-field="dreadUse">Dread Use</th>
                      <th data-field="nagUse">Nag Use</th>
                      <th data-field="morosUse">Moros Use</th>
                      <th data-field="revUse">Rev Use</th>
                      <th data-field="phoenixUse">Phoenix Use</th>
                      <th data-field="faxUse">Force Aux Use</th>
                      <th data-field="apostleUse">Apostle Use</th>
                      <th data-field="lifUse">Lif Use</th>
                      <th data-field="minUse">Minokawa Use</th>
                      <th data-field="ninazuUse">Ninazu Use</th>

                      <th data-field="frigLogi">Frig Logi Use</th>
                      <th data-field="cruiserLogi">Cruiser Logi Use</th>
                      <th data-field="neuts">Neuts Use</th>
                      <th data-field="jams">Jams Use</th>
                      <th data-field="damps">Damp Use</th>
                    </tr>
                  </thead>
                  <tbody id="dataTable">

                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>

  <!--Footer-->
  <footer id="contact" class="page-footer default_color scrollspy">
      <div class="footer-copyright default_color">
          <div class="container">
              Made by <a class="white-text" href="https://discord.gg/0keRDoXN2Cxw6PIY" target="_blank">Aekro</a> of <a class="white-text" href="http://apply.limited-power.co.uk/" target="_blank">[.LIMP]</a> and <a class="white-text" href="http://takeshis-castle.com/" target="_blank">[TAKSH]</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>.
              Try <a class="white-text" href="http://eve-vippy.com/" target="_blank">Vippy</a> as your next WH Mapper!
          </div>
      </div>
  </footer>


  <!--  Scripts-->
  <script src="/min/plugin-min.js"></script>
  <script src="/min/custom-min.js"></script>

</body>
</html>
