<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>WH Stats - Weekly</title>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body id="top" class="scrollspy">


<!--Navigation-->
 <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="./">Hourly</a></li>
        <li><a href="daily">Daily</a></li>
        <li><a href="#intro">Weekly</a></li>
        <li><a href="monthly">Monthly</a></li>
        <li><a href="./#work">Total</a></li>
    </ul>
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="./" id="logo-container" class="brand-logo">WH STATS <span class="logo-version">v1.6</span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Stats Period &#9660;</a></li>
                    <li><a href="#team">Raw Stats</a></li>
                    <li><a href="./#updates">Updates</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="./">Hourly</a></li>
                    <li><a href="daily">Daily</a></li>
                    <li><a href="#intro">Weekly</a></li>
                    <li><a href="monthly">Monthly</a></li>
                    <li><a href="./#work">Total</a></li>
                    <li><a href="#team">Raw Stats</a></li>
                    <li><a href="./#updates">Updates</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Stats for</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">dank kills</b>
                <b>dem splosions</b>
                <b>the Glory of Bob</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Kills per WH class are recorded every week <span class="span_h2"> until Sunday at midnight GMT. </span><span id="refreshText">Graphs are updated every 30 minutes. Time until next weekly update </span><span id="countdown" class="span_h2"></span></h2>
            </div>
        </div>
        <div class="row">
            <div  class="col s12">
                <h5 class="promo-caption">This Week's Kills Since Sunday at 0000 GMT</h5>
                <div class="big-chart-holder">
                  <canvas id="chartTotal" width="400" height="300"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C1 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC1" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C2 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC2" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C3 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC3" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C4 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC4" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C5 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC5" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C6 Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalC6" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h5 class="promo-caption">Fleet Fights</h5>
                <p>Fleet fights are defined and recorded as occasions where at least two sides are present with at least 5 per side</p>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C1 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC1Total" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C2 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC2Total" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C3 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC3Total" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C4 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC4Total" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C5 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC5Total" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">C6 Fights</h5>
                <div class="small-chart-holder">
                  <canvas id="chartFleetC6Total" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h5 class="promo-caption">Cap/Logi Kill Breakdown</h5>
                <p>Logi Kills are Guardians/Oneiros/Basilisks/Scimitars, usually an indicator of a larger fight</p>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">Carrier Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalCarrier" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">Dread Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalDread" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">Force Auxiliary Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalFAX" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col s12 m4 14">
                <h5 class="promo-caption">Logi Kills</h5>
                <div class="small-chart-holder">
                  <canvas id="chartTotalLogi" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">This Week's ISK Killed</h2>
        <div class="row">
            <div class="col s12">
                <h5 class="promo-caption">ISK Killed (Billions)</h5>
                <div class="big-chart-holder">
                  <canvas id="chartISKTotal" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C1 Average Kill</h5>
                    <span class="updates" id="c1AvgTotal"></span>
                </div>
            </div>
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C2 Average Kill</h5>
                    <span class="updates" id="c2AvgTotal"></span>
                </div>
            </div>
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C3 Average Kill</h5>
                    <span class="updates" id="c3AvgTotal"></span>
                </div>
            </div>
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C4 Average Kill</h5>
                    <span class="updates" id="c4AvgTotal"></span>
                </div>
            </div>
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C5 Average Kill</h5>
                    <span class="updates" id="c5AvgTotal"></span>
                </div>
            </div>
            <div class="col s12 m4 14">
                <div class="center promo promo-example">
                    <h5 class="promo-caption">C6 Average Kill</h5>
                    <span class="updates" id="c6AvgTotal"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/nebulabg.jpg"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Raw Stats </h2>
        <div class="row">
            <table>
              <thead>
                <tr>
                  <th data-field="class">Class</th>
                  <th data-field="total">Last Week</th>
                </tr>
              </thead>
              <tbody id="dataTable">

              </tbody>
            </table>
        </div>
    </div>
</div>

<!--Updates-->
<div class="section scrollspy" id="updates">
    <div class="container">
        <h2 class="header text_b"></h2>
        <div class="row">
            <div class="col s12">

            </div>
        </div>
    </div>
</div>


<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="https://discord.gg/0keRDoXN2Cxw6PIY" target="_blank">Aekro</a> of <a class="white-text" href="http://apply.limited-power.co.uk/" target="_blank">[.LIMP]</a> and <a class="white-text" href="http://takeshis-castle.com/" target="_blank">[TAKSH]</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>.
            Try <a class="white-text" href="http://eve-vippy.com/" target="_blank">Vippy</a> as your next WH Mapper!
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>
    <script src="js/timerWeekly.js"></script>

    </body>
</html>
